.title {
	margin-top: -20px;
	font-size: 15px;
}

.container {
	padding: 0 15px 5px 15px;
}

.banner {
	width: 100%;
}

.products-area {
	width: fit-content;
}

/* Menu Code */
.menu {
  width: 45px;
  height: 6px;
  background-color: #161616;
  margin: 7px 0px 8px 5px;
}

.logo {
	display: none;
}

.change .menu {
	display: none;
}

.change .logo {
	display: block;
    width: 45px;
    height: 45px;
}