.dark-mode {
  color: #f1f1f1;
  background-color: #121212;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: #f1f1f1;
}

.dark-mode a {
  color: #5DADE2;
}

.dark-mode a:hover {
  color: #3498DB;
}

.dark-mode button {
  background-color: #5DADE2;
  color: #f1f1f1;
}

.dark-mode button:hover {
  background-color: #3498DB;
}

.dark-mode .contact {
  background-color: #3c3c3c;
  color: #f1f1f1;
}

.dark-mode .contact:hover {
  background-color: gray;
}

.dark-mode input[type=submit] {
  background-color: #5DADE2;
}

.dark-mode input[type=email],
.dark-mode a,
.dark-mode .contact {
  color: #f1f1f1;
}

.dark-mode article.games,
.dark-mode article,
.dark-mode div.contactinfo {
  background-color: #252525;
}

.dark-mode aside,
.dark-mode aside.social {
  background-color: #2e2e2e;
}

.dark-mode .sectionA {
  background-color: #383838;
}

.dark-mode .game {
  color: #f1f1f1;
}