.darkmode {
  color: #f1f1f1;
  background-color: #121212;
}

.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode h4,
.darkmode h5,
.darkmode h6 {
  color: #f1f1f1;
}

.darkmode a {
  color: #5DADE2;
}

.darkmode a:hover {
  color: #3498DB;
}

.darkmode button {
  background-color: #5DADE2;
  color: #f1f1f1;
}

.darkmode button:hover {
  background-color: #3498DB;
}

.darkmode .contact {
  background-color: #3c3c3c;
  color: #f1f1f1;
}

.darkmode .contact:hover {
  background-color: gray;
}

.darkmode input[type=submit] {
  background-color: #5DADE2;
}

.darkmode input[type=email],
.darkmode a,
.darkmode .contact {
  color: #f1f1f1;
}

.darkmode article.games,
.darkmode article,
.darkmode div.contactinfo {
  background-color: #252525;
}

.darkmode aside,
.darkmode aside.social {
  background-color: #2e2e2e;
}

.darkmode .sectionA {
  background-color: #383838;
}

.darkmode .game {
  color: #f1f1f1;
}