/** Footer **/
footer {
	padding: 3px;
	background-color: black;
	color: white;
	margin-top: auto;
	margin-left: -8px;
	margin-right: -8px;
}

.footerclass{
	background-color: black;
	padding-right: 15px;
}
.footerimg {
	border-radius: 25px;
	background-color: white;
	padding-right: 3px;
}