.button {
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttona {
	display: block;
  	color: white;
  	text-align: center;
  	text-decoration: none;
}

.youtube {
  background-color: #ef0800; 
  color: white; 
  border: 4px solid #c4302b;
  border-radius: 4px;
}

.youtube:hover {
  background-color: #c4302b;
  color: white;
}

.insta {
  background-color: #F79D54;
  color: white; 
  border: 4px solid #F58529;
  border-radius: 4px;
}

.insta:hover {
  background-color: #F58529;
  color: white;
}

.discord {
  background-color: #7289da;
  color: white; 
  border: 4px solid #424549;
  border-radius: 4px;
}

.discord:hover {
  background-color: #424549;
  color: white;
}

.twitch {
  background-color: #b99aff;
  color: white; 
  border: 4px solid #7c40ff;
  border-radius: 4px;
}

.twitch:hover {
  background-color: #7c40ff;
  color: white;
}

.itch {
  background-color: #fb8282;
  color: white; 
  border: 4px solid #fa5c5c;
  border-radius: 4px;
}

.itch:hover {
  background-color: #fa5c5c;
  color: white;
}