/** Layout **/
article.games {
	float: right;
	width: 50%;
	position: relative;
	padding: 0;
}
center.games {
	padding: 2%;
}
aside.contactinfo {
	position: relative;
	padding: 0px; 
	width: 50%;
}
article {
	float: left;
	padding: 20px;
	width: 53%;
}
section::after {
	content: "";
	display: table;
	clear: both;
}
aside {
	
}
aside h2 {
	padding-top: 15px;
	margin-bottom: 0;
	margin-top: 0;
}
aside p {
	padding-bottom: 10px;
	font-size: 25px;
}
aside.social {
	
}
aside h3 {
	padding-left: 100px;
}
.column {
	float: left;
	width: 33.33%;
	padding: 15px;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width:900px) {
	.column {
		width: 100%;
	}
}

.col-container {
	display: table; /* Make the container element behave like a table */
	width: 100%; /* Set full-width to expand the whole page */
}

.col {
	display: table-cell; /* Make elements inside the container behave like table cells */
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
	margin-right: 5px;
}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}