/** Layout **/
article.games {
	float: right;
	width: 50%;
	position: relative;
	padding: 0;
}
center.games {
	padding: 2%;
}
aside.contactinfo {
	position: relative;
	padding: 0px; 
	width: 50%;
}
article {
	float: left;
	padding: 20px;
	width: 53%;
}
section::after {
	content: "";
	display: table;
	clear: both;
}
aside {
	
}
aside h2 {
	padding-top: 15px;
	margin-bottom: 0;
	margin-top: 0;
}
aside p {
	padding-bottom: 10px;
	font-size: 25px;
}
aside.social {
	
}
aside h3 {
	padding-left: 100px;
}
.column {
	float: left;
	width: 33.33%;
	padding: 15px;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width:900px) {
	.column {
		width: 100%;
	}
}