article.games {
	background-color: #f1f1f1;
}
article {
	background-color: #f1f1f1;
}
aside {
	background-color: #e6e6e6;
}
aside.social {
	background-color: #d9d9d9;
}
div.contactinfo {
	background-color: #e6e6e6;
}
input[type=submit] {
  background-color: #5DADE2;
}
input[type=email] {
	color: black;
}
.sectionA {
	background-color: #e6e6e6;
}

.game {
	text-decoration: none;
	color: black;
}

.contact {
  background-color: darkgrey;
  color: white; 
  border: 4px solid gray;
  border-radius: 4px;
}

.contact:hover {
  background-color: gray;
  color: white;
}