article.games {
	background-color: #f1f1f1;
}
article {
	background-color: #f1f1f1;
}
aside {
	background-color: #e6e6e6;
}
aside.social {
	background-color: #d9d9d9;
}
div.contactinfo {
	background-color: #e6e6e6;
}
input[type=submit] {
  background-color: #5DADE2;
}
input[type=email] {
	color: black;
}
.sectionA {
	background-color: #e6e6e6;
}

.game {
	text-decoration: none;
	color: black;
}
a {
	color: grey;
}
button a {
	color: white;
	text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e6e6e6;
  height: 100%;
}

aside.blogContainer {
	background-color: #f1f1f1;
}

article.blogContainer {
	border-color: lightgray;
}

.blogCard {
	background-color: #e6e6e6;
}

.fcf-form-control {
	background-color: #e6e6e6;
	color: black
}