/** Layout **/
article.games {
  float: right;
  padding: 20px;
  width: 50%;
  background-color: #f1f1f1;
}
article {
  float: left;
  padding: 20px;
  width: 53%;
  background-color: #f1f1f1;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
aside {
	background-color: #e6e6e6;
}
aside h2 {
	padding-top: 15px;
	margin-bottom: 0;
	margin-top: 0;
}
aside p {
	padding-bottom: 10px;
	font-size: 25px;
}
aside.social {
	background-color: #d9d9d9;
}
aside h3 {
	padding-left: 100px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}